---
layout: default
title: Welcome 
---


<h1 class="page-title">
    Welcome to SIAM&#64;UNR
</h1>

<div style="float:left;">
    <img style="max-width:100%; border:1px solid black" src="{{ site.baseurl }}/assets/unr_promo.jpg" alt="Picture of Reno, Nevada area and UNR campus">
</div>


<p>
This is the homepage for SIAM&#64;UNR, the student chapter for the Society for Industial and Applied Mathematics at the University of Nevada, Reno.  See the links for
information about our chapter, or the posts below for current news and announcements.
</p>
<br>
<div style="float:left">
<h2>News and announcements from the section</h2>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"class="pagination-item newer">Newer announcements</a>
  {% else %}
    <span class="pagination-item newer">Newer announcements</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-item older">Older announcements</a>
  {% else %}
    <span class="pagination-item older">Older announcements</span>
  {% endif %}
</div>
{% endif %}

</div>
<!--
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
